name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
       dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Deploy to Heroku
      uses: akhileshns/heroku-deploy@v3.12.12
      with:
       args: deploy --dir=build --prod
       heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
       heroku_app_name: 'genus-001'
       heroku_email: 'matheustiberio@outlook.com.br'
